
.container {
  box-sizing: border-box;
  padding: 34px 15px;
  width: 100%;
  max-width: 540px;
  @media (min-width: 760px) {
    width: calc(100% - 40px);
    max-width: 900px;
  }
  @media (min-width: 1024px) {
    width: calc(100% - 124px);
    max-width: 1024px;
  }
  @media (min-width: 1600px) {
    width: calc(100% - 200px);
    max-width: 1400px;
  }
  @media (max-width: 360px) {
    padding: 34px 10px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4D63EE;
  color: #4D63EE;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    background-color: #233EE7;
    color: #fff;
    border: none;
  }
  &:disabled {
    border-color: #D7DBDD;
    background-color: #D7DBDD;
    color: #747688;
    &:hover {
      cursor: auto;
    }
  }
}
